.new-cocktail-container{
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.6)), image-url('bar-new.jpg');
  background-size: cover;
  color: white;
}

.container-form {
  padding: 32px;
  margin: 20px auto;
}
