<h4>Dose</h4>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.association :ingredient, collection: Ingredient.order('name') %>
  <%= f.input :description, label: "Measure " %>
  <%= f.button :submit, class:"btn btn-dark" %>
<% end %>
